body {
    margin: 60px auto !important;
    width: 80%;
}

i {
    vertical-align: middle;
}

/* Navigation Bar */

.header-nav {
    display: flex;
    justify-content: space-between;
    padding: 20px;
    border-bottom: 1px solid #999999;
    position: fixed;
    top: 0;
    left: 10%;
    width: 80%;
    background-color: white;
    color: #999999;
}

.header-nav a {
    text-decoration: none;
    padding: 10px;
    vertical-align: middle;
    font-smooth: never;
    -webkit-font-smoothing : none;
}

.header-nav a:hover {
    color: white !important;
    background-color: #999999 !important;
}

.header-nav .header-home {
    font-size: 3vw;
}

.header-nav .header-research-teaching {
    font-size: 1.5vw;
    position: relative;
    bottom: -20px;
}

/* Main Content */

.main-content {
    margin-top: 150px;
    font-size: 20px;
}

/* Home */

.home-content {
    display: flex;
}

.home-content .home-self-introduction {
    padding: 0 20px 100px 100px;
    text-align: justify;
}

.home-content .home-self-introduction .fullname {
    font-size: 32px;
    font-weight: 400;
    margin-bottom: 16px;
}

/* Research & Teaching */

.subtitle-papers {
    color: #999999;
    padding: 0 10px 30px 30px;
}

.list-container {
    vertical-align: bottom;
    line-height: 22px;
}

.list-container a.list-title {
    color: black;
    vertical-align: bottom;
    line-height: 22px;
    font-weight: bold;
}

.list-container a.list-title:hover {
    color: white;
    background-color: black;
}

.list-container .abstract {
    text-align: justify;
}

.paper-coauthor {
    padding-left: 5px;
}

.paper-abstract {
    color: #999999;
}

/* Pixel Font */

@font-face {
    font-family: 'pixel-font';
    src:  url('fonts/pixel-font.eot?cndky0');
    src:  url('fonts/pixel-font.eot?cndky0#iefix') format('embedded-opentype'),
    url('fonts/pixel-font.ttf?cndky0') format('truetype'),
    url('fonts/pixel-font.woff?cndky0') format('woff'),
    url('fonts/pixel-font.svg?cndky0#pixel-font') format('svg');
    font-weight: normal;
    font-style: normal;
}

[class^="pixel-font-"], [class*=" pixel-font-"] {
    /* use !important to prevent issues with browser extensions that change fonts */
    font-family: 'pixel-font' !important;
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;

    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.pixel-font-A:before {
    content: "\41";
}
.pixel-font-B:before {
    content: "\42";
}
.pixel-font-C:before {
    content: "\43";
}
.pixel-font-D:before {
    content: "\44";
}
.pixel-font-E:before {
    content: "\45";
}
.pixel-font-F:before {
    content: "\46";
}
.pixel-font-G:before {
    content: "\47";
}
.pixel-font-H:before {
    content: "\48";
}
.pixel-font-I:before {
    content: "\49";
}
.pixel-font-J:before {
    content: "\4a";
}
.pixel-font-K:before {
    content: "\4b";
}
.pixel-font-L:before {
    content: "\4c";
}
.pixel-font-M:before {
    content: "\4d";
}
.pixel-font-N:before {
    content: "\4e";
}
.pixel-font-O:before {
    content: "\4f";
}
.pixel-font-P:before {
    content: "\50";
}
.pixel-font-Q:before {
    content: "\51";
}
.pixel-font-R:before {
    content: "\52";
}
.pixel-font-S:before {
    content: "\53";
}
.pixel-font-T:before {
    content: "\54";
}
.pixel-font-U:before {
    content: "\55";
}
.pixel-font-V:before {
    content: "\56";
}
.pixel-font-W:before {
    content: "\57";
}
.pixel-font-X:before {
    content: "\58";
}
.pixel-font-Y:before {
    content: "\59";
}
.pixel-font-Z:before {
    content: "\5a";
}