<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Wenfeng Qiu's Homepage</title>
    <link rel="icon" href="img/favicon.ico" />
    <link rel="stylesheet" type="text/css" href="css/main.css">
    <link rel="stylesheet" type="text/css" href="lib/font-awesome/css/font-awesome.min.css">
    <link rel="stylesheet" href="lib/bootstrap/css/bootstrap.min.css">

    <script src="lib/angular.min.js"></script>
    <script src="js/main.js"></script>
</head>
<body>
<div class="container" ng-app="personalWeb" ng-controller="mainCtrl">
    <nav class="header-nav">
        <div class="header-home">
            <a ng-click="current = ''">
                <span ng-repeat="letter in headerHome track by $index">
                    <i ng-class="[letter]"></i>
                </span>
            </a>
        </div>
        <div class="header-research-teaching">
            <a ng-click="current = 'research'">
                <span ng-repeat="letter in headerResearch track by $index">
                    <i ng-class="[letter]"></i>
                </span>
            </a>
            <a ng-click="current = 'teaching'">
                <span ng-repeat="letter in headerTeaching track by $index">
                    <i ng-class="[letter]"></i>
                </span>
            </a>
        </div>
    </nav>
    <div class="main-content">
        <div ng-if="!current" class="home-content">
            <div>
                <img src="img/photo.jpeg" alt="Wenfeng Qiu" width="300">
            </div>
            <div class="home-self-introduction">
                <div>
                    <span>{{selfIntroductionBeforeUrl}}</span>
                    <span>
                        <a ng-href="{{selfIntroductionUrl}}" target="_blank">
                            {{selfIntroductionForUrl}}
                        </a>
                    <span>
                    <span>{{selfIntroductionBeforeUrl}}</span>
                </div>
                <br>
                <div><a ng-href="{{cv}}" target="_blank">CV</a></div>
                <br>
                <div>Email: {{email}}</div>
            </div>
        </div>
        <div ng-if="current === 'research'">
            <div class="subtitle-papers">
                <span ng-repeat="letter in headerPapers track by $index">
                    <i ng-class="[letter]"></i>
                </span>
            </div>
            <div>
                <ul style="list-style:square" ng-repeat="paper in papers track by $index">
                    <li class="list-container">
                        <div>
                            <a ng-href="{{paper.url}}" target="_blank" class="list-title">
                                {{paper.title}}
                            </a>
                            <span ng-if="paper.coauthors.length">
                                &nbsp;&nbsp;(with 
                                <span ng-repeat="coauthor in paper.coauthors track by $index" class="paper-coauthor">
                                    <a ng-href="{{coauthor.url}}" target="_blank">{{coauthor.name}}</a>
                                    <span ng-if="isShowComma(paper.coauthors, $index)">, </span>
                                </span>)
                            </span>
                        </div>
                        <p class="description">{{paper.description}}</p>
                    </li>
                </ul>
            </div>
        </div>
        <div ng-if="current === 'teaching'">
            <ul style="list-style:square" ng-repeat="teaching in teachings track by $index">
                <li class="list-container">
                    <div>
                        <a ng-href="{{teaching.url}}" target="_blank" class="list-title">
                            {{teaching.title}}
                        </a>
                    </div>
                    <div>{{teaching.description}}</div>
                    <p class="description">{{paper.description}}</p>
                </li>
            </ul>
        </div>
    </div>
</div>
</body>
</html>
