<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="cache-control" content="no-cache">
    <meta http-equiv="Pragma" content="no-cache">

    <title>Wenfeng Qiu</title>
    <link rel="icon" href="img/favicon.ico" />
    <link rel="stylesheet" type="text/css" href="css/main_1.0.1.css">
    <link rel="stylesheet" type="text/css" href="lib/font-awesome/css/font-awesome.min.css">
    <link rel="stylesheet" href="lib/bootstrap/css/bootstrap.min.css">

    <script src="lib/angular.min.js"></script>
    <script src="js/main_1.0.0.js"></script>
</head>
<body>
<div class="container" ng-app="personalWeb" ng-controller="mainCtrl">
    <nav class="header-nav">
        <div class="header-home">
            <a ng-click="current = ''">
                <span ng-repeat="letter in headerHome track by $index">
                    <i ng-class="[letter]"></i>
                </span>
            </a>
        </div>
        <div class="header-research-teaching">
            <a ng-click="current = 'research'">
                <span ng-repeat="letter in headerResearch track by $index">
                    <i ng-class="[letter]"></i>
                </span>
            </a>
            <a ng-click="current = 'teaching'">
                <span ng-repeat="letter in headerTeaching track by $index">
                    <i ng-class="[letter]"></i>
                </span>
            </a>
        </div>
    </nav>
    <div class="main-content">
        <div ng-if="!current" class="home-content">
            <div>
                <img src="img/selfPhoto.jpeg" alt="Wenfeng Qiu" width="300">
            </div>
            <div class="home-self-introduction">
                <div class="fullname">Wenfeng Qiu</div>
                <div>{{selfIntroduction1}}</div>
                <br>
                <div>{{selfIntroduction2}}</div>
                <br>
                <div>{{selfIntroduction3}}</div>
                <br>
                <div><a ng-href="{{cv}}" target="_blank">CV</a></div>
                <br>
                <div>Email: {{email}}</div>
            </div>
        </div>
        <div ng-if="current === 'research'">
            <div class="subtitle-papers">
                <span ng-repeat="letter in headerPapers track by $index">
                    <i ng-class="[letter]"></i>
                </span>
            </div>
            <div>
                <ul style="list-style:square" ng-repeat="paper in papers track by $index">
                    <li class="list-container">
                        <div>
                            <a ng-href="{{paper.url}}" target="_blank" class="list-title">
                                {{paper.title}}
                            </a>
                            <span ng-if="isShowContent(paper.note)">[{{paper.note}}]</span>
                            <div ng-if="isShowContent(paper.coauthor)">
                                (with <a ng-href="{{paper.coauthor.url}}" target="_blank">{{paper.coauthor.name}}</a>)
                            </div>
                        </div>
                        <div class="abstract">
                            <b ng-if="isShowContent(paper.abstract)" class="paper-abstract">Abstract:</b> 
                            {{paper.abstract}}
                        </div>
                    </li>
                </ul>
            </div>
        </div>
        <div ng-if="current === 'teaching'">
            <ul style="list-style:square" ng-repeat="teaching in teachings track by $index">
                <li class="list-container">
                    <div>
                        <a ng-href="{{teaching.url}}" target="_blank" class="list-title">
                            {{teaching.title}}
                        </a>
                    </div>
                    <p class="abstract">{{teaching.description}}</p>
                </li>
            </ul>
        </div>
    </div>
</div>
</body>
</html>
